<section
  class="section-with-bg py-5"
  style="min-height: 100vh; background: #f8f9fa"
>
  <div class="container" style="padding-top: 40px">
    <div class="section-header">
      <h2>Newsletters</h2>
      <p>Here are all newsletter subscriptions</p>
    </div>
    <div class="row" id="newsletters-on-admin-dashboard"></div>
    <div class="mt-4 text-center">
      <a href="#admin" class="btn btn-secondary rounded-pill px-4">
        Back to Dashboard
      </a>
    </div>
  </div>
</section>
<script>
  AdminService.getAllNewsletters();
</script>

<style>
  .newsletter-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 20px;
  }
  .newsletter-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  }
  .newsletter-card .details h3 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .newsletter-card .details p {
    color: #4b4b4b;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .newsletter-card .admin-actions {
    margin-top: 15px;
  }
  .newsletter-card .admin-actions .btn {
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 5px;
  }
</style>
