<!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Events</h2>
          <p>Here are some of our newest events</p>
        </div>
    
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/biciklo.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Sarajevo Bike Festival</a></h3>
                <p>May 5, 2024 · 10:00 AM</p>
                <p>A fun and eco-friendly event celebrating cycling.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/ASP_3327-scaled.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Sarajevo Business Forum</a></h3>
                <p>May 20, 2024 · 9:00 AM</p>
                <p>A premier conference.</p>
              </div>
            </div>
          </div>
           
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/368557109-130620733406671-952748878036797617-n-1692607071.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Sarajevo Street Fest</a></h3>
                <p>June 15, 2024 · 6:00 PM</p>
                <p>A vibrant celebration of music, art, and culture.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/cinestar-sarajevo-7.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Urban Lounge Nights</a></h3>
                <p>June 25, 2024 · 8:00 PM</p>
                <p>Stylish nights out with great music and ambiance.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/sLOGA-e1590413533436.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Neon Beats Festival</a></h3>
                <p>July 12, 2024 · 10:00 PM</p>
                <p>An electrifying electronic music festival.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/culture.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Cultural Heritage Festival</a></h3>
                <p>July 20, 2024 · 5:00 PM</p>
                <p>Stylish nights out with great music and ambiance.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/bascarsija2.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Baščaršija Nights</a></h3>
                <p>August 5, 2024 · 7:30 PM</p>
                <p>Traditional music and cultural performances.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/Sarajevo-2024-opening.webp" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Sarajevo Film Festival</a></h3>
                <p>August 10, 2024 · 10:00 AM</p>
                <p>The region's top film festival.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/beerfest.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Beer Fest</a></h3>
                <p>September 15, 2024 · 4:00 PM</p>
                <p>Celebrating craft beers and live music.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/theatre.jpeg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">International Theater Festival</a></h3>
                <p>October 10, 2024 · 6:30 PM</p>
                <p>Showcasing innovative theatrical performances.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/jazz.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Sarajevo Jazz Festival</a></h3>
                <p>November 3, 2024 · 8:00 PM</p>
                <p>Featuring local and global jazz artists.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/Festival-svjetla-Sarajevo-2-Photo-FSS-ok.jpg" class="img-fluid" />
              <div class="details">
                <h3><a href="#single_event_user">Garden of Lights</a></h3>
                <p>December 1, 2024 · 7:00 PM</p>
                <p>A magical nighttime exhibition of art.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>