<!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">
      <div class="container" style="padding: 140px 0 30px 0">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
    
        <!-- Grid Gallery -->
        <div class="gallery-grid">
          <a href="img/gallery/comedy.webp" class="venobox" data-gall="gallery-grid">
            <img src="img/gallery/comedy.webp" alt="Comedy Event">
          </a>
          <a href="img/gallery/2.jpg" class="venobox" data-gall="gallery-grid">
            <img src="img/gallery/2.jpg" alt="Event 2">
          </a>
          <a href="img/gallery/3.jpg" class="venobox" data-gall="gallery-grid">
            <img src="img/gallery/3.jpg" alt="Event 3">
          </a>
          <a href="img/gallery/4.jpeg" class="venobox" data-gall="gallery-grid">
            <img src="img/gallery/4.jpeg" alt="Event 4">
          </a>
          <a href="img/gallery/5.jpg" class="venobox" data-gall="gallery-grid">
            <img src="img/gallery/5.jpg" alt="Event 5">
          </a>
          <a href="img/gallery/6.jpg" class="venobox" data-gall="gallery-grid">
            <img src="img/gallery/6.jpg" alt="Event 6">
          </a>
          <a href="img/gallery/field.jpeg" class="venobox" data-gall="gallery-grid">
            <img src="img/gallery/field.jpeg" alt="Field Event">
          </a>
          <a href="img/gallery/8.jpg" class="venobox" data-gall="gallery-grid">
            <img src="img/gallery/8.jpg" alt="Event 8">
          </a>
        </div>
      </div>
    </section>