<!--==========================
  Event Details Section
============================-->
<section id="event-details" class="section-with-bg">
  <div class="container" , style="padding-top: 40px">
    <div class="section-header">
      <h2>Event Details</h2>
      <p>Check out the details of this exciting event!</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="event-photos">
          <img src="assets/img/slika1.jpg" class="img-fluid" alt="Event Photo 1" />
          <!-- <img src="./img/slika2.jpg" class="img-fluid" alt="Event Photo 2" /> -->
        </div>
      </div>

      <div class="col-md-6">
        <div class="event-info">
          <h3>Sarajevo Street Fest</h3>
          <p>
            The Sarajevo Street Fest is a vibrant, lively event that celebrates
            the cultural and artistic diversity of Sarajevo, Bosnia and
            Herzegovina. Held annually in various locations across the city, the
            festival features a mix of music, dance, theater, street
            performances, and food. It brings together both local and
            international artists, offering a platform for creative expression
            and artistic exchange. Visitors can enjoy the energy of Sarajevo’s
            streets, with performances taking place in open-air venues, parks,
            and along pedestrian zones, turning the city into a living art
            gallery. The event fosters a sense of community, encouraging public
            participation and interaction, while also promoting Sarajevo as a
            city of culture, history, and creativity.
          </p>
          <div class="text-center">
            <a href="#buy-tickets" class="btn btn-primary">Reserve Tickets</a>
          </div>
        </div>
      </div>
    </div>
    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">
      <div class="container" style="padding: 0px 0 30px 0">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>

        <!-- Grid Gallery -->
        <div class="gallery-grid">
          <a
            href="assets/img/gallery/comedy.webp"
            class="venobox"
            data-gall="gallery-grid"
          >
            <img src="assets/img/gallery/comedy.webp" alt="Comedy Event" />
          </a>
          <a href="assets/img/gallery/2.jpg" class="venobox" data-gall="gallery-grid">
            <img src="assets/img/gallery/2.jpg" alt="Event 2" />
          </a>
          <a href="assets/img/gallery/3.jpg" class="venobox" data-gall="gallery-grid">
            <img src="assets/img/gallery/3.jpg" alt="Event 3" />
          </a>
          <a href="assets/img/gallery/4.jpeg" class="venobox" data-gall="gallery-grid">
            <img src="assets/img/gallery/4.jpeg" alt="Event 4" />
          </a>
          <a href="assets/img/gallery/5.jpg" class="venobox" data-gall="gallery-grid">
            <img src="assets/img/gallery/5.jpg" alt="Event 5" />
          </a>
          <a href="assets/img/gallery/6.jpg" class="venobox" data-gall="gallery-grid">
            <img src="assets/img/gallery/6.jpg" alt="Event 6" />
          </a>
        </div>
      </div>
    </section>
  </div>
</section>
