<!--==========================
  Event Details Section
============================-->
<section id="event-details" class="section-with-bg">
  <div class="container">
    <div class="section-header">
      <h2>Event Details</h2>
      <p>Check out the details of this exciting event!</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="event-photos">
          <img src="./img/bijeli.png" class="img-fluid" alt="Event Photo 1" />
          <img src="./img/bijeli.png" class="img-fluid" alt="Event Photo 2" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="event-info">
          <h3>Event Title</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <div class="text-center">
            <a href="#buy-tickets" class="btn btn-primary">Buy Tickets</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
