<!--==========================
  Event Details Section
============================-->
<section class="section-with-bg">
  <div class="container" style="padding-top: 140px">
    <div class="section-header">
      <h2>Event Details</h2>
      <p>Check out the details of this exciting event!</p>
    </div>

    <div id="event-details-admin" class="row"></div>
    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">
      <div class="container" style="padding: 0px 0 30px 0">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
        <div class="gallery-grid"></div>
      </div>
    </section>
  </div>
</section>
