    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>Events</h2>
            <p>Here are some of our newest events</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="speaker">
                <img src="img/speakers/368557109-130620733406671-952748878036797617-n-1692607071.jpg" class="img-fluid">
                <div class="details">
                  <h3><a href="speaker-details.html">Sarajevo Street Fest</a></h3>
                  <p>A vibrant celebration of music, art, and culture.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker">
                <img src="img/speakers/Sarajevo-2024-opening.webp" class="img-fluid">
                <div class="details">
                  <h3><a href="speaker-details.html">Sarajevo Film Festival </a></h3>
                  <p>The region’s top film festival.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker">
                <img src="img/speakers/Festival-svjetla-Sarajevo-2-Photo-FSS-ok.jpg" class="img-fluid">
                <div class="details">
                  <h3><a href="speaker-details.html">Garden of Lights</a></h3>
                  <p>A magical nighttime exhibition of art.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker">
                <img src="img/speakers/ASP_3327-scaled.jpg" class="img-fluid">
                <div class="details">
                  <h3><a href="speaker-details.html">Sarajevo Business Forum</a></h3>
                  <p>A premier conference.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker">
                <img src="img/speakers/sLOGA-e1590413533436.jpg" class="img-fluid">
                <div class="details">
                  <h3><a href="speaker-details.html">Neon Beats Festival</a></h3>
                  <p>An electrifying electronic music festival.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker">
                <img src="img/speakers/cinestar-sarajevo-7.jpg" class="img-fluid">
                <div class="details">
                  <h3><a href="speaker-details.html">Urban Lounge Nights</a></h3>
                  <p>Stylish nights out with great musicand ambiance.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>