    <!--==========================
      Subscribe Section
    ============================-->
    <section id="subscribe">
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h2>Newsletter</h2>
            <p>Sarajevo is full of unforgettable experiences, and we’re 
              here to make sure you never miss a moment. 
              Subscribe to our newsletter and be the first to know about the hottest concerts, 
              exclusive festivals, cultural events, and must-attend gatherings in the city</p>
          </div>
  
          <form method="POST" action="#">
            <div class="form-row justify-content-center">
              <div class="col-auto">
                <input type="text" class="form-control" placeholder="Enter your Email">
              </div>
              <div class="col-auto">
                <button type="submit">Subscribe</button>
              </div>
            </div>
          </form>
  
        </div>
      </section>